# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/project-words.txt
!.vscode/*.code-workspace
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

# Next.js
.next
out
resources/baudevs-landinpage-project/code-snippets/code_chunk_1.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_2.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_3.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_4.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_5.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_6.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_7.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_8.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_9.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_10.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_11.txt
resources/baudevs-landinpage-project/code-snippets/code_chunk_12.txt
resources/baudevs-landinpage-project/code-snippets/file_tree.txt
